.hero {
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 15px;
}
.hero-wrapper {
}

.hero-title {
  max-width: 496px;
  margin: 32px auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
